#stock-header:hover{
    background-color: #B8DAFF;
    filter: brightness(90%);

}

#sort{
    background-color:#B8DAFF;
}
#stock-header{
        background-color: #B8DAFF;
}

#placeholder{
    background-color: #B8DAFF;
}