#productInfo{
    font-size: 2vw;
}

#productBox{
    border-bottom: 4px solid black;

}

.productName{
    font-size: 2.5vw;

}

.availableStock{
    font-size: 2.5vw;

}

#productImage{
    height: 20vw;
    width: 30vw;
}

@media screen and (max-width: 992px){
    .productName{
        font-size: 3.5vw;
    }
    .availableStock{
        font-size: 3.5vw;
    }
    #productInfo{
        font-size: 3.5vw;
    }
}
